@import 'theme';

#tab {
  .state-option {
    background: lighten($palette-color-one, 15);
  }

  .state-confirme,
  .state-actif {
    background: $palette-color-three;
  }

  .state-annule,
  .state-inactif {
    background: $palette-color-one;
  }

  & tbody > * {
    display: contents;
  }
}

app-template-a #tab thead {
  background: lighten($dark-color, 15);
  color: $light-color;
}

app-template-b #tab thead {
  background: lighten($dark-color, 30);
  color: $light-color;
}

